/DSp.BasicRepositoryImplementation/bin
/DSp.BasicRepositoryImplementation/obj
/DSp.BasicRepositoryImplementation.Domain/bin
/DSp.BasicRepositoryImplementation.Domain/obj
/DSp.BasicRepositoryImplementation.Infrastructure/obj
/DSp.BasicRepositoryImplementation.Infrastructure/bin
